
@{
    ViewBag.Title = "Index";
}


<div id="pagina">
    <div id="cabecalho">
        <h2>Tarefas</h2>
    </div>
    <div id="conteudo">
        <div>
            @Html.ActionLink("Nova Tarefa","NovaTarefa", "Tarefa", new { }, new { @class="btn btn-primary"}) 
        </div>
    </div>

    <div id="rodape">
        <p>
            Desenvolvido para estudar ASP.NET (c)2014 - Me
        </p>
    </div>
</div>
