
@{
    ViewBag.Title = "NotFound";
}

<h2>PÁGINA NÃO ENCONTRADA</h2>

<br/>

<hgroup>
    <h1>Erro 404</h1>
    <h2>A pagina que você está tentando acessar não foi encontrada.</h2>

</hgroup>

<p style="align-content: center">
    <img src="~/Content/Image/404.jpg"/>
</p>

